<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Search and Dropdown Example</title>
  </head>
  <body>
    <h1>Create a New Recipe</h1>
    <form action="/submitRecipe" method="post">
      <label for="recipeName">Recipe Name:</label>
      <input type="text" id="recipeName" name="recipeName" required><br><br>

      <label for="ingredient1">Ingredient 1:</label>
      <input type="text" id="ingredient1" name="ingredientList[]" required><br><br>

      <label for="ingredient2">Ingredient 2:</label>
      <input type="text" id="ingredient2" name="ingredientList[]"><br><br>

      <label for="ovenSetting1">Oven Setting 1:</label>
      <input type="text" id="ovenSetting1" name="ovenSettings[]"><br><br>

      <label for="ovenSetting2">Oven Setting 2:</label>
      <input type="text" id="ovenSetting2" name="ovenSettings[]"><br><br>

      <label for="cookingInstructions">Cooking Instructions:</label><br>
      <textarea id="cookingInstructions" name="cookingInstructions" rows="4" cols="50" required></textarea><br><br>

      <label for="recipeImageUrl">Recipe Image URL:</label>
      <input type="url" id="recipeImageUrl" name="recipeImageUrl"><br><br>

      <label for="dietaryRestrictions">Dietary Restrictions:</label>
      <input type="text" id="dietaryRestrictions" name="dietaryRestrictions"><br><br>

      <label for="chefName">Chef Name:</label>
      <input type="text" id="chefName" name="chefName" required><br><br>

      <label for="cookingTime">Cooking Time (minutes):</label>
      <input type="number" id="cookingTime" name="cookingTime" required><br><br>

      <label for="preparationTime">Preparation Time (minutes):</label>
      <input type="number" id="preparationTime" name="preparationTime" required><br><br>

      <label for="ovenTemperature">Oven Temperature (°C):</label>
      <input type="number" id="ovenTemperature" name="ovenTemperature" required><br><br>

      <label for="totalKcals">Total Calories (Kcals):</label>
      <input type="number" id="totalKcals" name="totalKcals" required><br><br>

      <label for="servings">Servings:</label>
      <input type="number" id="servings" name="servings" required><br><br>

      <label for="creationDate">Creation Date:</label>
      <input type="date" id="creationDate" name="creationDate" required><br><br>

      <label for="modificationDate">Modification Date:</label>
      <input type="date" id="modificationDate" name="modificationDate"><br><br>

      <input type="submit" value="Submit Recipe">
    </form>
  </body>
</html>
